# Server Configuration
PORT=5000
NODE_ENV=development

# Database Connection (PostgreSQL)
# For local running PostgreSQL:
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/express_ecommerce?schema=public"

# For Docker Compose environment:
# DATABASE_URL="postgresql://postgres:postgres@db:5432/express_ecommerce?schema=public"
