# Server Configuration
PORT=5000
NODE_ENV=development

# Security Configuration
CLIENT_KEY="your_secret_client_key"
JWT_SECRET="your_super_secret_random_string_for_ecommerce"
JWT_EXPIRES_IN="7d"

# Database Connection (PostgreSQL)
# For local running PostgreSQL:
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/express_ecommerce?schema=public"

# For Docker Compose environment:
# DATABASE_URL="postgresql://postgres:postgres@db:5432/express_ecommerce?schema=public"
